.container {
  text-align: center;
}

.todos__controls {
  margin: 0;
}

.todo__input-completed {
  text-decoration: line-through;
  color: gray;
}

.todo-is-deleted {
  display: none;
}

.nav-link {
  cursor: pointer;
}